<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Jit" version="1.0.2" />
  <package id="Microsoft.NETCore.Runtime.CoreCLR" version="1.0.2" />
  <package id="Microsoft.NETCore.Windows.ApiSets" version="1.0.1" />
  <package id="runtime.native.System.Data.SqlClient.sni" version="4.0.0" />
  <package id="runtime.win7-x64.runtime.native.System.Data.SqlClient.sni" version="4.0.1" />
  <package id="runtime.win7-x86.runtime.native.System.Data.SqlClient.sni" version="4.0.1" />
</packages>